  .home-works {
    color: #fff;
    padding: 130px 0 0;
    position: relative;
    background: black
  }

  @media (max-width: 768px) {
    .home-works {
      padding-top: 24vw
    }
  }

  .home-works-header {
    padding: 0 145px 150px
  }

  .home-works-header:after {
    content: "";
    display: table;
    clear: both
  }

  @media (max-width: 1440px) {
    .home-works-header {
      padding: 0vw 10.06944vw 10.41667vw 10.06944vw
    }
  }

  @media (max-width: 768px) {
    .home-works-header {
      padding: 0vw 4.66667vw 13.33333vw 4.66667vw
    }
  }

  .home-works-header.active .home-works-title {
    color: #fff
  }

  .home-works-header.active .home-works-all-link {
    color: #fff
  }

  .home-works-header.active .home-works-all-link .line {
    background-color: #fff
  }

  .home-works-header.active .home-works-all-link .arrow:after {
    opacity: 1
  }

  .home-works-title {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    float: left;
    margin: -12px 0;
    color: #000;
    -webkit-transition: color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 1s cubic-bezier(0.215, 0.61, 0.355, 1)
  }

  @media (max-width: 1440px) {
    .home-works-title {
      font-size: 3.47222vw;
      margin: -.83333vw 0vw -.83333vw 0vw
    }
  }

  @media (max-width: 768px) {
    .home-works-title {
      font-size: 6.66667vw;
      margin: -1.33333vw 0vw -1.33333vw 0vw
    }
  }

  .home-works-all-link {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #000;
    float: right;
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: 12px 30px 12px 0;
    margin: -12px 0 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px)
  }

  @media (max-width: 768px) {
    .home-works-all-link {
      font-size: 2.66667vw;
      padding: 2.13333vw 5.6vw 2.13333vw 0vw;
      margin-top: -1.2vw
    }
  }

  @media (min-width: 769px) {
    .home-works-all-link:hover {
      opacity: 0.6
    }

    .home-works-all-link:hover .line {
      -webkit-animation: line 0.35s ease-in-out;
      animation: line 0.35s ease-in-out
    }

    .home-works-all-link:hover .arrow:before,
    .home-works-all-link:hover .arrow:after {
      -webkit-animation: line 0.35s ease-in-out;
      animation: line 0.35s ease-in-out
    }
  }

  .home-works-all-link .text {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    display: inline-block
  }

  .home-works-all-link .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s ease-in-out;
    -o-transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
  }

  .home-works-all-link .arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden
  }

  @media (max-width: 768px) {
    .home-works-all-link .arrow {
      width: 1.86667vw;
      height: 1.86667vw
    }
  }

  .home-works-all-link .arrow:before,
  .home-works-all-link .arrow:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px)
  }

  @media (max-width: 768px) {

    .home-works-all-link .arrow:before,
    .home-works-all-link .arrow:after {
      width: 1.86667vw;
      height: 1.86667vw
    }
  }

  .home-works-all-link .arrow:before {
    background: url("	https://goinc.co.jp/assets/images/home/works-arrow-black.svg") top left no-repeat;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s
  }

  .home-works-all-link .arrow:after {
    background: url("	https://goinc.co.jp/assets/images/home/works-arrow-black.svg") top left no-repeat;
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    -o-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s
  }

  .home-works-all-link.active .line {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
  }

  .home-works-all-link.active .text {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
  }

  .home-works-all-link.active .arrow:before,
  .home-works-all-link.active .arrow:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
  }

  .home-works-link {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #fff
  }

  .home-works-item {
    overflow: hidden;
    height: 62vh;
    position: relative;
    display: block
  }

  @media (max-width: 768px) {
    .home-works-item {
      height: auto
    }
  }

  .home-works-item:last-of-type .home-works-info {
    border-bottom: none
  }

  @media (max-width: 768px) {
    .home-works-item.active .home-works-item__image {
      width: 100%;
      opacity: 1
    }
  }

  .home-works-item.active .cover {
    opacity: 0
  }

  .home-works-item.active .home-works-info {
    opacity: 1
  }

  .home-works-item.active2 .home-works-item__image .cover {
    opacity: 0
  }

  .home-works-item__inner {
    position: relative;
    width: 100%;
    height: 100%
  }

  @media (max-width: 768px) {
    .home-works-item__inner {
      -webkit-transform: translate3d(0px, 0px, 0px) !important;
      transform: translate3d(0px, 0px, 0px) !important
    }
  }

  .home-works-item__inner .cover {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #000; */
    opacity: 0.5;
    pointer-events: none
  }

  @media (min-width: 769px) {
    .home-works-item__inner .cover {
      -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    }
  }

  @media (max-width: 768px) {
    .home-works-item__inner .cover {
      -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    }
  }

  html.ie .home-works-item__inner,
  html.edge .home-works-item__inner,
  html.is-ipad .home-works-item__inner {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important
  }

  .home-works-item__image {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform
  }

  @media (min-width: 769px) {
    .home-works-item__image {
      width: calc(100% - 400px)
    }
  }

  @media (max-width: 768px) {
    .home-works-item__image {
      position: relative;
      height: 56.2666666666667vw;
      -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1
    }
  }

  .home-works-item__image .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px)
  }

  .home-works-item__image .image.loaded {
    opacity: 1
  }

  .home-works-item__image img {
    width: 100%;
    height: auto;
    display: block
  }

  .home-works-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #222222;
    -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: 70px;
    border-bottom: 1px solid #000
  }

  @media (max-width: 768px) {
    .home-works-info {
      position: relative;
      width: 100%;
      height: auto;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      padding: 8vw 4.66667vw 11.46667vw 4.66667vw;
      border-bottom: 1px solid #000;
      opacity: 1;
      border-bottom: none
    }
  }

  .home-works-info__logo {
    margin-bottom: 40px
  }

  @media (max-width: 768px) {
    .home-works-info__logo {
      height: 3.2vw;
      margin-bottom: 5.33333vw
    }

    .home-works-info__logo img {
      width: auto;
      height: 100%;
      display: block
    }
  }

  .home-works-info__title {
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold
  }

  @media (max-width: 768px) {
    .home-works-info__title {
      font-size: 4vw;
      line-height: 5.86667vw;
      margin: -.93333vw 0vw 6.8vw 0vw
    }
  }

  .home-works-info__text {
    margin-bottom: 40px;
    color: #aaaaaa;
    font-size: 14px;
    text-align: justify
  }

  @media (max-width: 768px) {
    .home-works-info__text {
      font-size: 3.2vw;
      line-height: 5.6vw;
      margin: -1.2vw 0vw 6.26667vw 0vw
    }
  }

  .home-works-link {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #aaaaaa;
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: 12px 30px 12px 0;
    margin: -12px 0 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden
  }

  @media (max-width: 768px) {
    .home-works-link {
      font-size: 2.66667vw;
      padding: 2.13333vw 5.6vw 2.13333vw 0vw;
      margin-top: -1.2vw
    }
  }

  @media (min-width: 769px) {
    .home-works-link:hover {
      opacity: 0.6
    }

    .home-works-link:hover .line {
      -webkit-animation: line 0.35s ease-in-out;
      animation: line 0.35s ease-in-out
    }

    .home-works-link:hover .arrow:before {
      -webkit-animation: line 0.35s ease-in-out;
      animation: line 0.35s ease-in-out
    }
  }

  .home-works-link .text {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    display: inline-block
  }

  .home-works-link .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s ease-in-out;
    -o-transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out;
    transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
  }

  .home-works-link .arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden
  }

  @media (max-width: 768px) {
    .home-works-link .arrow {
      width: 1.86667vw;
      height: 1.86667vw
    }
  }

  .home-works-link .arrow:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url("	https://goinc.co.jp/assets/images/home/works-arrow-black.svg") top left no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s
  }

  @media (max-width: 768px) {
    .home-works-link .arrow:before {
      width: 1.86667vw;
      height: 1.86667vw
    }
  }

  .home-works-link.active .line {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
  }

  .home-works-link.active .text {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
  }

  .home-works-link.active .arrow:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
  }

  .home-works-footer {
    text-align: center;
    padding: 120px 0 200px
  }

  @media (max-width: 1440px) {
    .home-works-footer {
      padding: 8.33333vw 0vw 13.88889vw 0vw
    }
  }

  @media (max-width: 768px) {
    .home-works-footer {
      padding: 13.33333vw 0vw 24vw 0vw
    }
  }

  .home-works-footer__link {
    background-color: #fff;
    display: inline-block;
    margin: 0 auto;
    color: #000;
    font-family: neue-haas-grotesk-text, 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 18px;
    padding: 22px 70px 22px 32px;
    border-radius: 30px;
    position: relative;
    -webkit-transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)
  }

  @media (max-width: 768px) {
    .home-works-footer__link {
      font-size: 3.46667vw;
      padding: 4vw 13.33333vw 4vw 5.33333vw;
      border-radius: 12vw
    }
  }

  @media (min-width: 769px) {
    .home-works-footer__link:hover {
      background-color: #999
    }

    .home-works-footer__link:hover span:after {
      -webkit-animation: line 0.35s ease-in-out;
      animation: line 0.35s ease-in-out
    }
  }

  .home-works-footer__link span {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden
  }

  @media (max-width: 768px) {
    .home-works-footer__link span {
      width: 2.4vw;
      height: 2.4vw;
      right: 5.33333vw
    }
  }

  .home-works-footer__link span:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("https://goinc.co.jp/assets/images/home/works-arrow-black.svg") top left no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0
  }

  @media (max-width: 768px) {
    .home-works-footer__link span:after {
      width: 2.4vw;
      height: 2.4vw
    }
  }