.footer-menu {
  float: left;
  text-align: left;
  margin-bottom: 194px
}

@media (max-width: 1440px) {
  .footer-menu {
      margin-bottom:13.47222vw
  }
}

@media (max-width: 768px) {
  .footer-menu {
      margin-bottom:0vw;
      float: none
  }
}

.footer-menu__item {
  margin: 0 0 10px;
}

@media (max-width: 1440px) {
  .footer-menu__item {
      margin-bottom:.69444vw;
  }
}

@media (max-width: 768px) {
  .footer-menu__item {
      /* margin-bottom:2.13333vw */
      margin-bottom: unset;
  }
}

.footer-menu__item a {
  color: #fff;
  display: block;
  font-size: 6vw;
}

.footer-menu__item span {
  color: #333;
  display: block
}

.footer-menu__item.active {
  pointer-events: none
}

.footer-menu__item.active .normal {
  opacity: 0
}

@media (min-width: 769px) {
  .footer-menu__item a:hover {
      opacity:0.3
  }
}

.footer-menu__item a {
  position: relative;
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.footer-menu__item a,.footer-menu__item span {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1440px) {
  .footer-menu__item a,.footer-menu__item span {
      /* height:58px */
    font-size: 4.5vw;
    display: inline-block;
  }
}

@media (max-width: 1440px) {
  .footer-menu__item a,.footer-menu__item span {
      /* height:4.02778vw */
  }
}

@media (max-width: 768px) {
  .footer-menu__item a,.footer-menu__item span {
      width:47.2vw;
      height: 7.2vw
  }
}

.footer-menu__item .active {
  position: absolute;
  top: 0;
  left: 0
}

.footer-menu__item .normal {
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative
}

.footer-menu__item--home a,.footer-menu__item--home span {
  width: 222px
}

@media (max-width: 1440px) {
  .footer-menu__item--home a,.footer-menu__item--home span {
      width:15.41667vw
  }
}

@media (max-width: 768px) {
  .footer-menu__item--home a,.footer-menu__item--home span {
      width:47.2vw
  }
}

.footer-menu__item--home .normal {
  background-image: url(../images/common/footer-home.svg)
}

.footer-menu__item--home .active {
  background-image: url(../images/common/footer-home-active.svg)
}

.footer-menu__item--works a,.footer-menu__item--works span {
  width: 283px
}

@media (max-width: 1440px) {
  .footer-menu__item--works a,.footer-menu__item--works span {
      width:19.65278vw
  }
}

@media (max-width: 768px) {
  .footer-menu__item--works a,.footer-menu__item--works span {
      width:47.2vw
  }
}

.footer-menu__item--works .normal {
  background-image: url(../images/common/footer-works.svg)
}

.footer-menu__item--works .active {
  background-image: url(../images/common/footer-works-active.svg)
}

.footer-menu__item--members a,.footer-menu__item--members span {
  width: 379px
}

@media (max-width: 1440px) {
  .footer-menu__item--members a,.footer-menu__item--members span {
      width:26.31944vw
  }
}

@media (max-width: 768px) {
  .footer-menu__item--members a,.footer-menu__item--members span {
      width:47.2vw
  }
}

.footer-menu__item--members .normal {
  background-image: url(../images/common/footer-members.svg)
}

.footer-menu__item--members .active {
  background-image: url(../images/common/footer-members-active.svg)
}

.footer-menu__item--news a,.footer-menu__item--news span {
  width: 222px
}

@media (max-width: 1440px) {
  .footer-menu__item--news a,.footer-menu__item--news span {
      width:15.41667vw
  }
}

@media (max-width: 768px) {
  .footer-menu__item--news a,.footer-menu__item--news span {
      width:47.2vw
  }
}

.footer-menu__item--news .normal {
  background-image: url(../images/common/footer-news.svg)
}

.footer-menu__item--news .active {
  background-image: url(../images/common/footer-news-active.svg)
}


@media (max-width: 768px) {
  .footer-menu__item--contact a,.footer-menu__item--contact span {
      width:47.2vw
  }
}

.footer-menu__item--contact .normal {
  background-image: url(../images/common/footer-contact.svg)
}

.footer-menu__item--contact .active {
  background-image: url(../images/common/footer-contact-active.svg)
}

.is-works-detail .footer-menu__item.footer-menu__item--works.active {
  pointer-events: auto
}

.footer-menu2 {
  float: left;
  text-align: left;
  font-size: 0;
  margin-bottom: 40px
}

@media (max-width: 1440px) {
  .footer-menu2 {
      margin-bottom:2.77778vw
  }
}

@media (max-width: 768px) {
  .footer-menu2 {
      margin-bottom:5.33333vw;
      float: none
  }
}

.footer-menu2__item {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  padding-right: 40px
}

@media (min-width: 1440px) {
  .footer-menu2__item {
      font-size:20px
  }
}

@media (max-width: 1440px) {
  .footer-menu2__item {
      font-size:1.38889vw;
      padding-right: 2.77778vw
  }
}

@media (max-width: 768px) {
  .footer-menu2__item {
      font-size:3.46667vw;
      padding-right: 4.66667vw
  }
}

.footer-menu2__item a {
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 16px;
  -webkit-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
}

@media (min-width: 769px) {
  .footer-menu2__item a:hover {
      color:#666
  }

  .footer-menu2__item a:hover:before {
      opacity: 0.3
  }
}

.footer-menu2__item a:before {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  background-image: url(../images/common/footer-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.footer-logo {
  float: right;
  max-width: 501px;
  width: 30vw;
  display: inline-block
}

@media (max-width: 768px) {
  .footer-logo {
      position:absolute;
      top: 15.73333vw;
      right: 4.66667vw;
      width: 53.33333vw;
      float: none
  }
}

.footer-logo img {
  width: 100%;
  height: auto;
  display: block
}

.footer__policy {
  float: right;
  font-size: 0;
  padding-top: 3px
}

@media (max-width: 1440px) {
  .footer__policy {
      font-size:.97222vw;
      padding-top: .20833vw
  }
}

@media (max-width: 768px) {
  .footer__policy {
      padding-top:0;
      float: none;
      text-align: left
  }
}

.footer-twitter-link {
  color: #fff;
  position: relative;
  padding-left: 28px;
  -webkit-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 700;
  font-style: normal
}

@media (max-width: 768px) {
  .footer-twitter-link {
      font-size:2.66667vw;
      margin-right: 6.93333vw;
      padding-left: 5.06667vw;
  }
}

@media (min-width: 769px) {
  .footer-twitter-link:hover {
      color:#666
  }

  .footer-twitter-link:hover:before {
      opacity: 0.3
  }
}

.footer-twitter-link:before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/common/footer-twitter-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
}

@media (max-width: 768px) {
  .footer-twitter-link:before {
      width:3.06667vw;
      height: 2.66667vw
  }
}

.footer-policy-link {
  color: #fff;
  position: relative;
  padding-left: 16px;
  -webkit-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: inline-block;
  font-size: 14px;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 700;
  font-style: normal
}

@media (max-width: 768px) {
  .footer-policy-link {
      font-size:2.66667vw
  }
}

@media (min-width: 769px) {
  .footer-policy-link:hover {
      color:#666
  }

  .footer-policy-link:hover:before {
      opacity: 0.3
  }
}

.footer-policy-link:before {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  background-image: url(../images/common/footer-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.footer__inner2 {
  padding: 0 80px
}

.footer__inner2:after {
  content: "";
  display: table;
  clear: both
}

@media (max-width: 768px) {
  .footer__inner2 {
      padding:0vw 4.66667vw 7.33333vw 4.66667vw
  }
}

.footer__inner3 {
  border-top: 1px solid #272727;
  padding: 62px 80px
}

.footer__inner3:after {
  content: "";
  display: table;
  clear: both
}

.footer__inner3:after {
  content: "";
  display: table;
  clear: both
}

@media (max-width: 1440px) {
  .footer__inner3 {
      padding-top:4.30556vw;
      padding-bottom: 4.30556vw
  }
}

@media (max-width: 768px) {
  .footer__inner3 {
      padding:5.73333vw 4.66667vw 6vw 5.73333vw
  }
}

.footer__copyright {
  float: left;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  text-align: left;
  line-height: 26px
}

@media (max-width: 1440px) {
  .footer__copyright {
      font-size:.83333vw;
      line-height: 1.80556vw
  }
}

@media (max-width: 768px) {
  .footer__copyright {
      font-size:2.4vw;
      line-height: 9.33333vw
  }
}

.footer__circle {
  float: right;
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
  display: inline-block
}

.footer__circle:before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #fff;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  right: calc(50% - 13px)
}

.footer__circle:after {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(../images/common/backtop-arrow-pc.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.16, 1, 0.3, 1)
}

@media (min-width: 769px) {
  .footer__circle:after {
      top:-32px;
      right: -32px
  }
}

@media (max-width: 768px) {
  .footer__circle:after {
      top:0;
      left: 0;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      background-image: url(../images/common/backtop-arrow.svg);
      width: 9.33333vw;
      height: 9.33333vw
  }
}

.footer__circle:hover:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

@media (max-width: 1440px) {
  .footer__circle {
      width:1.80556vw;
      height: 1.80556vw
  }
}

@media (max-width: 768px) {
  .footer__circle {
      width:9.33333vw;
      height: 9.33333vw
  }
}

.menu {
  width: 100%;
  height: 100%;
  z-index: 10001;
  position: fixed;
  top: -100vh;
  right: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  overflow: hidden;
  opacity: 0;
  overflow-y: scroll
}

.menu.motion .footer-menu,.menu.motion .footer-menu2,.menu.motion .footer__copyright {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}

.menu.motion .footer-menu2,.menu.motion .footer__copyright {
  opacity: 1
}

.menu.motion .footer-menu__item {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}

.menu.motion .menu-logo {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}

.menu.motion .footer__sns {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}

.menu .footer-menu2,.menu .footer__copyright {
  opacity: 0.5;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  -webkit-transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1)
}

.menu .footer-menu {
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  -webkit-transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1)
}

.menu .footer__sns {
  opacity: 0.5;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  -webkit-transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s linear,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1)
}

.menu.active {
  top: 0;
  right: 0;
  opacity: 1
}

.menu .menu-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.menu .menu-logo {
  width: 94.4444444444444vw;
  height: 60%;
  display: block;
  background-image: url("https://goinc.co.jp/assets/images/common/menu-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  -webkit-transition: opacity 0.2s linear 0.1s,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  transition: opacity 0.2s linear 0.1s,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  -o-transition: opacity 0.2s linear 0.1s,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  transition: opacity 0.2s linear 0.1s,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  transition: opacity 0.2s linear 0.1s,transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s,-webkit-transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.1s
}

@media (max-width: 768px) {
  .menu .menu-logo {
      height:auto;
      width: 100%;
      height: 50vw;
      background-image: url("https://goinc.co.jp/assets/images/common/menu-logo-sp.svg")
  }
}

.menu .footer-menu {
  float: none;
  margin-bottom: 60px
}

@media (max-width: 768px) {
  .menu .footer-menu {
      margin-bottom:7.73333vw
  }
}

.menu .footer-menu__item {
  opacity: 0;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}

.menu .footer-menu__item--home {
  -webkit-transition: opacity 0.6s ease-out 0s;
  -o-transition: opacity 0.6s ease-out 0s;
  transition: opacity 0.6s ease-out 0s
}

.menu .footer-menu__item--works {
  -webkit-transition: opacity 0.6s ease-out 0.04s;
  -o-transition: opacity 0.6s ease-out 0.04s;
  transition: opacity 0.6s ease-out 0.04s
}

.menu .footer-menu__item--members {
  -webkit-transition: opacity 0.6s ease-out 0.08s;
  -o-transition: opacity 0.6s ease-out 0.08s;
  transition: opacity 0.6s ease-out 0.08s
}

.menu .footer-menu__item--news {
  -webkit-transition: opacity 0.6s ease-out 0.12s;
  -o-transition: opacity 0.6s ease-out 0.12s;
  transition: opacity 0.6s ease-out 0.12s
}

.menu .footer-menu__item--contact {
  -webkit-transition: opacity 0.6s ease-out 0.16s;
  -o-transition: opacity 0.6s ease-out 0.16s;
  transition: opacity 0.6s ease-out 0.16s
}

@media (max-width: 768px) {
  .menu .footer-menu__item {
      /* margin-bottom:2.93333vw */
  }
}

@media (max-width: 768px) {
  .menu .footer-menu__item span,.menu .footer-menu__item a {
      width:67.46667vw;
      /* height: 10.4vw */
      font-size: 3vw;
  }
}

.menu .footer-menu2 {
  float: none
}

@media (min-width: 769px) {
  .menu .footer-menu2 {
      margin-bottom:0;
      padding-bottom: 140px
  }
}

.menu .footer-menu2__item {
  display: block;
  margin-bottom: 15px
}

@media (max-width: 768px) {
  .menu .footer-menu2__item {
      font-size:4vw;
      padding-right: 4vw;
      margin-bottom: 3.46667vw
  }
}

@media (max-width: 768px) {
  .menu .footer-menu2__item a:before {
      width:1.33333vw;
      height: 2vw
  }
}

.menu .footer__copyright {
  position: absolute;
  line-height: 1
}

@media (min-width: 769px) {
  .menu .footer__copyright {
      bottom:60px;
      right: 80px
  }
}

@media (max-width: 768px) {
  .menu .footer__copyright {
      left:4.66667vw;
      bottom: 5.33333vw
  }
}

.footer__sns {
  position: absolute;
  line-height: 1;
  opacity: 0
}

@media (min-width: 769px) {
  .footer__sns {
      bottom:60px;
      left: 80px
  }
}

@media (max-width: 768px) {
  .footer__sns {
      left:4.66667vw;
      bottom: 12vw
  }
}

.menu-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 80px 0
}

@media (min-width: 769px) {
  .menu-inner {
      min-height:675px
  }
}

@media (max-width: 768px) {
  .menu-inner {
      padding:10.66667vw 4.26667vw 10.66667vw 4.26667vw
  }
}

.menu-overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  will-change: transform
}

.menu-overlay.active {
  display: block;
  opacity: 1
}
